html,
body {
  height: 100%;
  background-color:#39e5f9;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.not-set {
  color: #c55;
  font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: "\e151";
}
a.desc:after {
  content: "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

.wrap{
   min-height:300px;
   background-color: #39e5f9;
}
/* Nav styles */
.navbar-wrapper{
    background-color: #f1b116;
    height: 54px;
    position: relative;
    z-index: 1;
}
.navbar-shadow {
    width:301px;
    height:54px;
    margin: 0 auto;
    background: url("/img/header_bg.png");
    padding-top: 5px;
    text-align: center;
    position: relative;
}
.navbar-center-logo {
    width:69px;
    height:45px;
    margin:0 auto;
    background: url("/img/logo.png");
}
.navbar-left-menu {
    width:34px;
    height:32px;
    position: relative;
    cursor: pointer;
    top: -40px;
    z-index: 1000;
    background: url("/img/menu_button_sprite.png");
}

.navbar-left-menu:hover{
    width:32px;
    background-position: 32px 0;
}

.container{
    width:320px;
    height:100%;
}
.content-wrapper{
    width:320px;
    height:100%;
    margin:0 auto;
    /*padding-top: 67px;*/
    position: relative;
}

.carousel-wrapper{
    width:320px;
    height:245px;
    position: relative;
    border:1px solid black;
}
.carousel {
    width:320px;
    height:245px;
    margin:0 auto;
    background-color:white;
    z-index: 2;

}

.carousel-inner{
    padding: 20px 0 0 18px;
}
.carousel .carousel-indicators li {
    width: 28px;
    height: 38px;
    background: url("/img/sprite_slider.png");
    background-position: 82% 10%;
    border:none;
    margin:0;

}
.carousel .carousel-indicators li.active, .carousel .carousel-indicators li:hover {
    margin: 0;
    background-position: 15% 10%;
}
.carousel-control .glyphicon-chevron-left{
    width: 66px;
    height: 78px;
    margin-top: -40px;
    background:url("/img/left_arrow.png");
    font-size: 0px;
}
.carousel-control .glyphicon-chevron-right{
    width: 74px;
    height: 81px;
    margin-top: -40px;
    background:url("/img/right_arrow.png");
    font-size: 0px;
}
.carousel-control.left,.carousel-control.right{
    background-image:none;
    z-index:2;
}
.text-on-main{
    width: 320px;
    height: 123px;
    margin:0 auto;
    padding:11px;
}
.text-on-main p{
    color:#000000;
    font-size:14px;
    text-align: center;
}
.footer{
    width:100%;
    height:100px;
    background-color: #0b393e;
}
.footer-container{
    width:320px;
    height:100px;
    margin:0 auto;
    position: relative;
}
.footer-star{
    width:418px;
    height:236px;
    background: url("/img/footer_star.png");
    position: absolute;
    margin: -104px 0px 0 415px;
}
.footer-menu{
    position: absolute;
    z-index:2;
}
.footer-menu-line{
    width:300px;
    height:8px;
    margin-top: 35px;
    background: url("/img/underline_footer_menu.png");
}
.footer-menu ul{
    list-style-type: none;
    margin: -30px 0 0 11px;
    padding: 0;
    overflow: hidden;

}
.footer-menu ul li{
    float:left;
    margin: 0 -1px;
}
.footer-menu ul li a{
    display: block;
    width:54px;
    height:35px;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color:#39e5f9;
    line-height: 37px;
    text-decoration: none;
}
.footer-menu-active{
    background: url("/img/footer_menu_active.png") center center;
}
.footer-menu ul li a:hover{
    background: url("/img/footer_menu_active.png") center center;
}
.footer-owners{
    width:200px;
    font-family: Arial;
    font-size: 10px;
    text-transform: uppercase;
    margin:100px 0 0 250px;
    position: absolute;
    z-index:2;
}
#article-index{
    width: 715px;
    margin: 0 auto;
    padding-bottom: 82px;
}
.article-title-games{
    font-family: Arial;
    font-size: 21px;
    font-variant: normal;
    font-weight: bold;
    text-transform: uppercase;
    color:white;
    margin:0 0 5px 0;
    padding:0px;
}
.article-content{
    min-height: 175px;
}

.article-right-text{
    font-family: Arial;
    font-size: 16px;
}

.article-more a{
    font-family: Arial;
    font-size: 14px;
    font-variant: normal;
    font-weight: bold;
    color:white;
    text-decoration: underline;
}
.article-date{
    font-size: 12px;
}
.article-underline{
    width:715px;
    height:52px;
    background:url('/img/games_line.png');

}

.article-item-blog{
    width: 663px;
    margin: 0 auto;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}
.article-item-title-blog{
    font-family: Arial;
    font-size: 21px;
    font-variant: normal;
    font-weight: bold;
    text-transform: uppercase;
    color:white;
    margin:0 0 5px 0;
    padding:0px;
}
.article-item-body-blog{
    font-size: 16px;
}
.article-item-image-blog{
   width:663px;
   height:409px;
   margin:10px auto;
}

.article-item-blog{
    width: 663px;
    margin: 0 auto;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}
.article-item-game{
    width: 740px;
    margin: 0 auto;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}
.article-item-title-game{
    font-family: Arial;
    font-size: 21px;
    font-variant: normal;
    font-weight: bold;
    text-transform: uppercase;
    color:white;
    width:735px;
    height:93px;
    margin:auto;
    background: url('/img/title_games_bg.png');
    margin:0px;
    padding: 30px 40px;
    position: relative;
    z-index: 1;
}

.games-underline{
    width:760px;
    height:59px;
    margin: -8px -21px;
    background: url('/img/games_undeline.png') center center no-repeat;
}
.games-underline-after-body{
    width:760px;
    height:59px;
    margin: -12px 0px;
    background: url('/img/games_undeline.png') center center no-repeat;
}
.article-item-body-game{
    width: 709px;
    margin: auto;
    margin-top:35px;
    font-size: 16px;
}
.article-item-image-game{
    width: 700px;
    height: 440px;
    margin: auto;
    margin-top: -24px;
}

.about-us-wrapper{
    width:754px;
    height:308px;
    margin:0 auto;
    padding: 30px 26px;
    margin-bottom:160px;
    background: url('/img/about_us_bg.png');
    color: #084349;
    font-size: 19px;
    position: relative;
    top: 50px;
    z-index:3;
}
.about-us-wrapper p{
    margin:0px;
    padding:0px;
}
.aboutus-right-img{
    width:174px;
    height:278px;
    background:url('/img/about_us_right_img.png');
    position: absolute;
    left: 700px;
    top: -8px;
}
.aboutus-left-img{
    width:152px;
    height:232px;
    background:url('/img/about_us_left_img.png');
    position: absolute;
    left: -68px;
    top: -39px;

}
.aboutus-blick-img{
    width: 81px;
    height: 85px;
    background: url('/img/about_us_blick.png');
    position: absolute;
    left: -11px;
    top: 345px;
    z-index: 4;
}

.site-contact{
    width:696px;
    height: 631px;
    margin:0 auto;
    margin-top:-10px;
    margin-bottom:0px;
    background: url('/img/contact_bg.png');
}

.site-contact .form-contact{
    width:600px;
    margin:0 auto;
    margin-top: 40px;
}
.form-contact label{
    font-family: Arial;
    font-size: 19px;
    color:#ffffff;
    font-weight: bold;
}
#contactform-name,#contactform-email,#contactform-subject{
    height:40px;
}
#contactform-name,#contactform-email,#contactform-subject,#contactform-body{
    background-color: #c0f3f9;
    font-family: Arial;
    font-size: 19px;
    color:#063036;
}
.form-contact .contact-button{
    width: 149px;
    height: 53px;
    background: url('/img/sprite_submit_button.png') -3px -1px no-repeat;
    margin:5px 0 0 215px;
    border:none;
    outline: none;
    /*font-family: Arial;*/
    /*font-size: 19px;*/
    /*color:#8a7417;*/
    /*font-weight: bold;*/
    /*text-transform: uppercase;*/
}
.form-contact .contact-button:hover{
    background: url('/img/sprite_submit_button.png') -187px -1px no-repeat;

}
.form-contact .help-block{
    margin: 0px;
    padding: 0px;
    display: none;
}
.social-buttons{
    width:373px;
    height:100px;
    margin: auto;
    margin-top: 60px;
    text-align: center;
    position: relative;
    z-index:2;
}
.fc-icon,.tw-icon,.yt-icon{
    width:100px;
    height:100px;
    margin-right:20px;
    display: inline-block;
    cursor:pointer;
}
.fc-icon:hover,.tw-icon:hover,.yt-icon:hover{
    opacity: 0.5;
}
.fc-icon {
    background:url('/img/social_icon_contact.png') 0 0;
}
.tw-icon {
    background:url('/img/social_icon_contact.png') 235px 0;
}
.yt-icon {
    background:url('/img/social_icon_contact.png') 100px 0;
}

.dropdown-list{
    width:160px;
    float:right;
    margin-right: 47px;
    position: relative;
    margin-bottom: 20px;
}

.dropdown-wrapper{
    min-height: 30px;
    position: absolute;
    z-index: 2;
}
.dropdown-list .main-item{
    width:160px;
    height:18px;
    background: url('/img/dd_top_bg.png');
    font-size: 17px;
    color:#b3e7ef;
    padding-top: 7px;
    padding-left: 15px;
    cursor: pointer;
}
.dropdown-list .caret-item{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 10px dashed;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.dropdown-list .caret-item-color{
    color:#f0f160;
}


.dropdown-list .center-item{
    width:160px;
    min-height:6px;
    font-size: 17px;
    color:#b3e7ef;
    background: url('/img/dd_center_bg.png');
    cursor:pointer;
}

.dropdown-list .bottom-item{
    width:160px;
    height:12px;
    background: url('/img/dd_bottom_bg.png');
}


.dropdown-list .main-item .title,.dropdown-list .main-item .caret{
    display: inline-block;

}
.dropdown-list .center-item .items:hover{
    color:#f0f160;
}
.dropdown-list .items{
    display: none;
}
.dropdown-list .items:first-child{
    padding-top:15px;
}
.dropdown-list .show-items{
    display: block;
    padding-left: 15px;
}
.clear{
    clear:both;
}
.press-kit{
    font-size: 28.1px;
    font-weight: bold;
    color:#126f79;
}
/*.article-attachments{
    width:810px;
    min-height: 50px;
    margin:auto;
    border:1px solid black;
}*/
.article-attachments-item{
    width:740px;
    height:90px;
    margin:0 auto;
}
.blue{
    background-color: #24cfe3;
}
.sky{
    background-color: #8bf3ff;
}
.article-attachments-item .item-img{
    padding: 5px 15px 0px 10px;
    float:left;
}
.article-attachments-item .item-description{
    padding-top:33px;
}
.article-attachments-item .item-download a{
    float:right;
    display: block;
    background-color: #fc5919;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 20px;
    width:150px;
    height:45px;
    font-size: 18.64px;
    font-weight: bold;
    color:white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
}
.article-attachments-item .music-name{
    width: 300px;
    margin: 0 auto;
    padding-top:5px;
    text-align: center;
}
.article-attachments-item .music-player{
    width: 300px;
    margin: 8px auto;
    text-align: center;
}
/*Slider article*/
.article-slider {
    width:718px;
    height:221px;
    background:url('/img/article_slider_bg.png');
    position: relative;
    margin: auto;
}
.article-slider .slider-control-left{
    width: 35px;
    height: 56px;
    margin-top: 70px;
    margin-left: -40px;
    background: url("/img/article_slider_l_arrow.png");
    font-size: 0px;
    cursor:pointer;
}
.article-slider .slider-control-right{
    width: 36px;
    height: 56px;
    margin-top: 70px;
    margin-right: -40px;
    background: url("/img/article_slider_r_arrow.png");
    font-size: 0px;
    cursor:pointer;
}

.article-slider .slider-carousel-inner{
    padding-top:30px;
    padding-left:0px;
    position:relative;
    width:718px;
    height: 221px;
    overflow: hidden;
}

.article-slider .slider-carousel-inner #w1{
    width:10000px;
    left:0;
    position: absolute;
}
.article-slider .slider-carousel-inner #w1 .gallery-item{
    float:left;
    margin-left:20px;
}

/*errors*/
.alert-danger{
    width: 700px;
    margin: 10px auto;
}
.alert-success{
    width: 700px;
    margin: 10px auto;
}

.error-page{
    width:700px;
    min-height:200px;
    margin: 10px auto;
}
.error-page .error-page-stcode{
    width:700px;
    font-size: 320px;
    font-weight: bold;
    margin: -70px 0 0 69px;
    color:#36d8ea;
}
.error-page .error-page-message{
    width:500px;
    margin: -55px 0px 0 236px;
    font-size: 26px;
    font-weight: bold;
    color: #208995;
}
.error-page .error-page-explanation {
    color: #084349;
    font-size: 12px;
    text-align: center;
    margin-bottom: 80px;
}

.error-page .error-code-blick-left{
    width: 115px;
    height: 89px;
    position: absolute;
    background: url("/img/error_page_blick.png");
    background-repeat: no-repeat;
    left: 226px;
    top: 81px;
    z-index: 3;
}
.error-page .error-code-blick-right{
    width: 115px;
    height: 89px;
    position: absolute;
    background: url("/img/error_page_blick.png");
    background-repeat: no-repeat;
    left: 546px;
    top: 222px;
    z-index: 3;
}
/*end slider article*/
/*# sourceMappingURL=style.map */