.article-item {
  margin-bottom: 15px;
}
.article-item .article-title,
.article-item .article-title a {
  color: inherit;
  margin: 0;
}
.article-item .article-meta,
.article-item .article-meta a {
  color: #999;
  font-size: .85em;
}
.article-item .article-meta a {
  text-decoration: underline;
}
.article-item .article-thumb {
  margin-right: 10px;
  margin-bottom: 10px;
}
.article-item .article-text {
  margin-top: 7px;
}
html,
body {
  height: 100%;
  background-color:#39e5f9;
}
/*.wrap {*/
  /*min-height: 100%;*/
  /*height: auto;*/
  /*margin: 0 auto -60px;*/
  /*padding: 0 0 60px;*/
/*}*/
/*.wrap > .container {*/
  /*padding: 70px 15px 20px;*/
/*}*/
/*.footer {*/
  /*height: 60px;*/
  /*background-color: #f5f5f5;*/
  /*border-top: 1px solid #ddd;*/
  /*padding-top: 20px;*/
/*}*/
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.not-set {
  color: #c55;
  font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: "\e151";
}
a.desc:after {
  content: "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

.wrap{
   min-height:300px;
    background: url("/img/middle_bg.png") repeat-x;
   /*height:80%;*/
}
/* Nav styles */
.navbar-wrapper{
    background-color: #f1b116;
    height: 104px;
    position: relative;
    z-index: 1;
}
.navbar-shadow {
    width:810px;
    height:104px;
    margin: 0 auto;
    background: url("/img/header_shadow_810.png");
    /*padding-top: 32px;*/
    text-align: center;
    position: relative;
}
.navbar-center-logo {
    width:127px;
    height:86px;
    margin:0 auto;
    background: url("/img/logo.png");
}
.navbar-center-menu ul{
    width:695px;
    height:62px;
    padding: 0;
    margin-left:56px;
    list-style-type: none;
    text-align: center;
    position: absolute;
    z-index: 1000;
    background: url("/img/menu_bg.png");
}
.navbar-center-menu ul li{
    float:left;
    margin: 0 21px 0 21px;
}
.navbar-menu-blick {
    width:139px;
    height:120px;
    position: absolute;
    background: url("/img/menu_blick.png");
    margin: -56px 0 0 0px;
    z-index:999;
}
.navbar-center-menu ul li a{
    font-family: Arial;
    font-size: 16px;
    text-transform: uppercase;
    color:#7a8790;
    font-weight: bold;
    line-height: 70.6px;
    text-decoration: none;
    width:94px;
    height: 57px;
    display: block;

}
.navbar-center-menu ul li a:hover, li.active-menu-item a{
    color:#f1b116 !important;
    background:url("/img/active_main_menu.png") center center;
}
.container{
    width:100%;
    height:100%;
}
.content-wrapper{
    width:810px;
    height:100%;
    margin:0 auto;
    padding-top: 67px;
    /*text-align: center;*/
    position: relative;
}

.carousel-wrapper{
    /*width:100%;*/
    /*position: relative;*/
    /*border:1px solid black;*/
}
.carousel {
    width:695px;
    height:451px;
    margin:0 auto;
    background: url("/img/carousel_bg.png");
    z-index: 2;
    -webkit-box-shadow: -5px -14px 72px 13px rgba(25,98,108,0.82);
    -moz-box-shadow: -5px -14px 72px 13px rgba(25,98,108,0.82);
    box-shadow: -5px -14px 72px 13px rgba(25,98,108,0.82);

}

.carousel-left-blick{
    width:115px;
    height:89px;
    position: absolute;
    /*background: url("/img/carousel_blick.png");*/
    background-repeat: no-repeat;
    left: 12px;
    top: 67px;
    z-index: 2;
}
.carousel-left-top-image{
    width:156px;
    height:183px;
    position: absolute;
    /*background: url("/img/slider_left_top.png");*/
    background-repeat: no-repeat;
    top: -50px;
    left: -40px;
}
.carousel-left-bottom-image{
    width:428px;
    height:431px;
    position: absolute;
    /*background: url("/img/slider_left_bottom.png");*/
    background-repeat: no-repeat;
    top: 184px;
    left: -113px;
    z-index: 3;
}
.carousel-right-top-image{
    width:215px;
    height:261px;
    position: absolute;
    /*background: url("/img/slider_top_right.png");*/
    background-repeat: no-repeat;
    top: -95px;
    left: 720px;
    z-index: 1;
}
.carousel-right-bottom-image{
    width:183px;
    height:261px;
    position: absolute;
    /*background: url("/img/slider_bottom_right.png");*/
    background-repeat: no-repeat;
    z-index: 3;
    top: 289px;
    left: 688px;
}

.carousel-inner{
    padding: 20px 0 0 18px;
}
.carousel .carousel-indicators li {
    width: 28px;
    height: 38px;
    background: url("/img/sprite_slider.png");
    background-position: 82% 10%;
    border:none;
    margin:0;

}
.carousel .carousel-indicators li.active, .carousel .carousel-indicators li:hover {
    margin: 0;
    background-position: 15% 10%;
}
.carousel-control .glyphicon-chevron-left{
    width: 66px;
    height: 78px;
    margin-top: -40px;
    background:url("/img/left_arrow.png");
    font-size: 0px;
}
.carousel-control .glyphicon-chevron-right{
    width: 74px;
    height: 81px;
    margin-top: -40px;
    background:url("/img/right_arrow.png");
    font-size: 0px;
}
.carousel-control.left,.carousel-control.right{
    background-image:none;
    z-index:2;
}
.text-on-main{
    width: 709px;
    height: 123px;
    margin:9px auto;
    padding:17px;
    background: url("/img/messages_bg.png");
    position: relative;
    z-index: 1;
}
.text-on-main p{
    color:#084349;
    font-size:19px;
    text-align: center;
}
.footer{
    width:100%;
    height:100px;
}
.footer-container{
    width:662px;
    height:100px;
    margin:0 auto;
    position: relative;
}
.footer-star{
    width:418px;
    height:236px;
    background: url("/img/footer_star.png");
    position: absolute;
    margin: -104px 0px 0 415px;
}
.footer-menu{
    position: absolute;
    z-index:2;
}
.footer-menu-line{
    width:662px;
    height:12px;
    margin-top: 30px;
    background: url("/img/line_under_footer_menu.png");
}
.footer-menu ul{
    list-style-type: none;
    margin: 13px 0 0 120px;
    padding: 0;
    overflow: hidden;

}
.footer-menu ul li{
    float:left;
    margin: 0 6px;
}
.footer-menu ul li a{
    display: block;
    width:70px;
    height:35px;
    text-align: center;
    font-family: Arial;
    font-size: 11px;
    text-transform: uppercase;
    color:#045F6A;
    line-height: 37px;
    text-decoration: none;
}
.footer-menu-active{
    background: url("/img/active_footer_menu.png") center center;
}
.footer-menu ul li a:hover{
    background: url("/img/active_footer_menu.png") center center;
}
.footer-owners{
    width:200px;
    font-family: Arial;
    font-size: 10px;
    text-transform: uppercase;
    margin:100px 0 0 250px;
    position: absolute;
    z-index:2;
}
#article-index{
    width: 715px;
    margin: 0 auto;
    padding-bottom: 82px;
}
.article-title-games{
    font-family: Arial;
    font-size: 21px;
    font-variant: normal;
    font-weight: bold;
    text-transform: uppercase;
    color:white;
    margin:0 0 5px 0;
    padding:0px;
}
.article-content{
    min-height: 175px;
}

.article-right-text{
    font-family: Arial;
    font-size: 16px;
}

.article-more a{
    font-family: Arial;
    font-size: 14px;
    font-variant: normal;
    font-weight: bold;
    color:white;
    text-decoration: underline;
}
.article-date{
    font-size: 12px;
}
.article-underline{
    width:715px;
    height:52px;
    background:url('/img/games_line.png');

}

.article-item-blog{
    width: 663px;
    margin: 0 auto;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}
.article-item-title-blog{
    font-family: Arial;
    font-size: 21px;
    font-variant: normal;
    font-weight: bold;
    text-transform: uppercase;
    color:white;
    margin:0 0 5px 0;
    padding:0px;
}
.article-item-body-blog{
    font-size: 16px;
}
.article-item-image-blog{
   width:663px;
   height:409px;
   margin:10px auto;
}

.article-item-blog{
    width: 663px;
    margin: 0 auto;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}
.article-item-game{
    width: 740px;
    margin: 0 auto;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}
.article-item-title-game{
    font-family: Arial;
    font-size: 21px;
    font-variant: normal;
    font-weight: bold;
    text-transform: uppercase;
    color:white;
    width:735px;
    height:93px;
    margin:auto;
    background: url('/img/title_games_bg.png');
    margin:0px;
    padding: 30px 40px;
    position: relative;
    z-index: 1;
}

.games-underline{
    width:760px;
    height:59px;
    margin: -12px 0px;
    background: url('/img/games_undeline.png') center center no-repeat;
}
.article-item-body-game{
    width: 709px;
    margin: auto;
    font-size: 16px;
}
.article-item-image-game{
    width: 700px;
    height: 440px;
    margin: auto;
    margin-top: -24px;
}

.about-us-wrapper{
    width:754px;
    height:308px;
    margin:0 auto;
    padding: 30px 26px;
    margin-bottom:160px;
    background: url('/img/about_us_bg.png');
    color: #084349;
    font-size: 19px;
    position: relative;
    top: 50px;
    z-index:3;
}
.about-us-wrapper p{
    margin:0px;
    padding:0px;
}
.aboutus-right-img{
    width:174px;
    height:278px;
    background:url('/img/about_us_right_img.png');
    position: absolute;
    left: 700px;
    top: -8px;
}
.aboutus-left-img{
    width:152px;
    height:232px;
    background:url('/img/about_us_left_img.png');
    position: absolute;
    left: -68px;
    top: -39px;

}
.aboutus-blick-img{
    width: 81px;
    height: 85px;
    background: url('/img/about_us_blick.png');
    position: absolute;
    left: -11px;
    top: 345px;
    z-index: 4;
}

.site-contact{
    width:696px;
    height: 631px;
    margin:0 auto;
    margin-top:-10px;
    margin-bottom:0px;
    background: url('/img/contact_bg.png');
}

.site-contact .form-contact{
    width:600px;
    margin:0 auto;
    margin-top: 40px;
}
.form-contact label{
    font-family: Arial;
    font-size: 19px;
    color:#ffffff;
    font-weight: bold;
}
#contactform-name,#contactform-email,#contactform-subject{
    height:40px;
}
#contactform-name,#contactform-email,#contactform-subject,#contactform-body{
    background-color: #c0f3f9;
    font-family: Arial;
    font-size: 19px;
    color:#063036;
}
.form-contact .contact-button{
    width: 149px;
    height: 53px;
    background: url('/img/contact_button.png');
    margin:5px 0 0 215px;
    border:none;
    outline: none;
    font-family: Arial;
    font-size: 19px;
    color:#8a7417;
    font-weight: bold;
    text-transform: uppercase;
}
.form-contact .help-block{
    margin: 0px;
    padding: 0px;
    display: none;
}
.social-buttons{
    width:373px;
    height:100px;
    margin: auto;
    margin-top: 60px;
    text-align: center;
}
.fc-icon,.tw-icon,.yt-icon{
    width:100px;
    height:100px;
    margin-right:20px;
    display: inline-block;
    cursor:pointer;
}
.fc-icon:hover,.tw-icon:hover,.yt-icon:hover{
    opacity: 0.5;
}
.fc-icon {
    background:url('/img/social_icon_contact.png') 0 0;
}
.tw-icon {
    background:url('/img/social_icon_contact.png') 235px 0;
}
.yt-icon {
    background:url('/img/social_icon_contact.png') 100px 0;
}


/*# sourceMappingURL=style.map */